INFOBIP_API_KEY=your_key
INFOBIP_API_URL=your_url
ALERT_PHONE_NUMBER=77767301903
VIOLENCE_CONFIDENCE_THRESHOLD=0.80
VIOLENCE_DURATION_SECONDS=0.7
INFOBIP_FROM_NUMBER=38515507799
INFOBIP_VOICE_TEXT=Violence detected. Please check immediately.
